#game_div {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#table_div.inActive{
    visibility: collapse;
}

#tb {
    border-collapse: collapse;
    border: 1px solid black;
}

#tb td {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    padding: 0px;
}

#header_div{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#header_end{
    clear: both;
}

#remaining_area{
    float: left;
    font-size: 20px;
}

#remaining{
    font-size: 60px;
}

#timer_area {
    font-size: 30px;
    float: right;
}

#timer {
    font-size: 60px;
}

#popup{
    height: 600px;
    font-size: 40px;
    text-align: center;
    background-color: beige;
    display: none;
}

button{
    display:inline-block;
    vertical-align:middle;
    border-radius:10px;
    margin:.20rem;
    font-size: 1rem;
    color:#666666;
    background:	#ffffff;
    border:1px solid #666666;  
}